<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
</head>
<body>
    <form method="post" th:action="@{/signup}" th:object="${singUpForm}">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">

        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname">

        <label for="age">Age</label>
        <input type="text" id="age" name="age">

        <label for="login">Login</label>
        <input type="text" id="login" name="login">

        <label for="password">Password</label>
        <input type="text" id="password" name="password">

        <input type="submit" value="Register">
    </form>
</body>
</html>